body,
html {
	height: 100%;
}

.containerV1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.center-container {
	text-align: center;
}

.chatbot-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	/* Ajusta el ancho según tus necesidades */
	max-width: 800px;
	/* Limita el ancho máximo según tus necesidades */
}

.chat-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
}

.chat-header {
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	/* text-shadow: -1px 4px 5px rgba(0,0,0,0.39); */
	border-bottom: 1px solid black;
}

.chat-title {
	font-size: 24px;
	/* Tamaño de fuente del título */
	margin: 0;
	/* Eliminar el margen superior e inferior */
}

.chat-subtitle {
	font-size: 16px;
	/* Tamaño de fuente del subtítulo */
	margin: 0;
	/* Eliminar el margen superior e inferior */
}

.chat-body {
	height: 490px;
	padding: 10px;
	overflow-y: scroll;
	padding-right: 16px;
}


.chat-body::-webkit-scrollbar {
	width: 6px;
	/* Ancho de la barra de desplazamiento */
}

/* Fondo de la barra de desplazamiento */
.chat-body::-webkit-scrollbar-track {
	background-color: #fff;
}


.chat-body::-webkit-scrollbar-thumb {
	background-color: #000;
	/* Color del pulgar negro */
	margin-left: 5px;
	border-radius: 8px;
}


.chat-body::-webkit-scrollbar-thumb:hover {
	background-color: #888;
	/* Color del pulgar gris oscuro al pasar el mouse */
}

.message {
	margin-bottom: 10px;
}

.user-message {
	background-color: black;
	padding: 8px;
	border-radius: 5px;
	text-align: right;
	color: white;
	max-width: 90%;
	margin-left: auto;
	margin-right: 0;

}

.bot-message {
	background-color: #f2f2f2;
	padding: 8px;
	border-radius: 5px;
}

.chat-input {
	width: 100%;
	padding: 10px;
	border-radius: 4.5px;
}

*,*::after, *::before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contenedor_carga{
	background-color: rgba(250, 240, 245, 0.9);
	/* height: 100%;
	width: 100%; */
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}

#carga{
	border: 5px solid #ccc;
	border-top-color: black;
	border-top-style: groove;
	height: 25px;
	width: 25px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-top: 430px;
	-webkit-animation: girar 1.5s linear infinite;
		-o-animation: girar 1.5s linear infinite;
		animation: girar 1.5s linear infinite;
}


@keyframes girar{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.mostrar {
	display: none;
}